@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "../abstracts/functions" as *;
@use "../abstracts/colors" as *;
@use "../abstracts/typography" as *;

.portfolio{
    background-color: $primary-card-color;
    .container{
        margin:auto;
    }
    .project-card{
        position : relative;
        width : 30rem;
        height : 22rem;
        //overflow: hidden;
        margin-left: calc($x-gap-s / 2);
        margin-right: calc($x-gap-s / 2);
        img{
            width: 100%;
            height : 100%;
            object-fit: cover;
        }
    }
}