// Variables Couleurs
$primary-color:#FFFFFF;
$secondary-color:#000000;
$terciary-color:#173630;
$text-color:#343553;
$primary-card-color:#326D6C;
$secondary-card-color:#49A5A4;
$input-color:#E9E9E9;
$background-color:#F9F9F9;
$background-transparent:#FFFFFF33;
$background-transparent-dark:#48383133;
$light-color:#FFFFFF;
$alert-color:#F8D7DA;
$primary-tag-color:#74E6D3;
$secondary-tag-color:#0A0738;
