// Variables
$y-gap-l : 3.5rem; //entre sections (x2)
$y-gap-m : 2.5rem; //entre bouton et texte par exemple
$y-gap-s : 1.5rem; //entre bouton et texte par exemple
$x-gap-l : 5rem; //entre colonnes (x2)
$x-gap-m : 2rem; //entre cards (x2)
$x-gap-s : 1rem; //entre input et entre images (x2)